
.navigation{
    margin-bottom: 20px;
}

.greating {
    text-align: center;
    background: url(https://st3.depositphotos.com/1006362/12625/i/950/depositphotos_126254668-stock-photo-garibaldi-lake-in-canada.jpg);
    height: 200px;
}