@import url('https://fonts.googleapis.com/css&family=Lato|Raleway');

div {
    color: #6f42c1;
}

.navigation{
    margin-bottom: 20px;
}

.topic-list__item{
    margin-bottom: 20px;
}

.category{
    background-color: #20c997;
    padding: 10px;
}

IMG.fig {
    width: 100%;
    align-content: center;
    padding-left: 10px; /* Отступ слева */
    padding-right: 10px;
    padding-bottom: 5px; /* Отступ снизу */
   }

.top-det {
    font-size: 15px;
}

.centr{
    text-align: center;
}